body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: darkcyan;
}
.calculator {
    box-sizing: border-box;
    width: 400px;
    height: 500px;
    background-color: rgb(84, 41, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: black 3px solid;
}
button {
    background-color: rgb(168, 168, 167);
    width: 95px;
    height: 70px;
    margin-top: 10px;
    box-shadow: black 1px 1px 1px;
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    border: black 2px solid;
}
button:hover {
    background-color: azure;
}
#display {
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(39, 39, 39);
    width: 390px;
    height: 70px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: xx-large;
    box-shadow: rgb(118, 117, 117) inset 1px -1px 6px 3px;
    padding: 10px;
}
#dividerow {
    margin-top: 20px;
    display: flex;
    gap: 4px;
}
#multiplyrow {
    display: flex;
    gap: 4px;
}
#subtractrow {
    display: flex;
    gap: 4px;
}
#addrow {
    display: flex;
    gap: 4px;
}